.nav-bar{
  border-bottom: 1px gray solid;
  
}
.logo-nav{
  height: 70px;
margin-right: 0px;
}
.sticky{
  margin-left: 0px;
}
body{
  overflow-x:none ;
}
.auth{
  font-weight: 700 !important;
  background-color: rgb(230, 230, 230);
 margin-left: 5px;
 padding: 10px;
}